# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Build artifacts
/client/dist
/server/dist

# Environment variables
.env
/server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
